<div class="px-6 pt-6">
  <div
    class="rounded-lg border border-gray-200 p-4 bg-gray-100 shadow-sm relative overflow-hidden"
    *ngIf="totalAnswers > 0"
  >
    <!-- Answer feedback -->
    <div class="absolute top-4 right-2 flex gap-x-1 items-center">
      <button
        class="justify-center bg-white items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100 text-xs gap-x-1 disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
        (click)="setResponse('positive')"
      >
        <ng-icon [class.text-lime-500]="response === 'positive'" name="lucideThumbsUp" />
      </button>

      <button
        class="justify-center bg-white items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100 text-xs gap-x-1 disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
        (click)="setResponse('negative')"
      >
        <ng-icon [class.text-red-500]="response === 'negative'" name="lucideThumbsDown" />
      </button>
    </div>

    <div class="answer-content overflow-hidden">
      @if (currentAnswer) {
        <span class="text-xs text-gray-500">Question:</span>
        <h3 class="text-base font-medium mb-2">{{ question }}</h3>

        <span class="text-xs text-gray-500">Answer:</span>
        <div class="font-medium text-base mb-1" [innerHTML]="stripCodeBlockWrapper(currentAnswer.text)"></div>


        @if (isStandardAnswer(currentAnswer)) {
          <div
            class="text-sm text-gray-700 leading-5 mb-1"
            [innerHTML]="cleanParagraph(currentAnswer.metadata.paragraph)"
          ></div>
        }

        <!--<span class="score">Score: {{currentAnswer.score}}</span><br>-->
        @if (isStandardAnswer(currentAnswer)) {
          <a class="block text-blue-500 underline text-xs mb-4" [href]="currentAnswer.source">
            {{ currentAnswer.source }}
          </a>
        } @else if (!selectedSource) {
          <!-- Divider -->
          <div class="border-t border-gray-200 my-4"></div>

          <table class="mt-2 w-full table-fixed">
            <thead>
              <tr>
                <th class="text-left pr-4 w-[10%]">Database</th>
                <th class="text-left pr-4">Title</th>
              </tr>
            </thead>
            <tbody>
              @for (source of sources; track source) {
                <tr>
                  <td class="pr-4 truncate w-[10%]">{{ source['@database'] }}</td>
                  <td class="pr-4 truncate">
                    <a
                    class="block text-blue-500 underline text-xs truncate cursor-pointer"
                    (click)="selectSource(source)"
                    >{{ source['@title'] }}</a
                  >
                  </td>
                </tr>
              }
            </tbody>
          </table>

          @if (currentAnswer.metadata.sources.source.length > 3) {
            <button
              class="justify-center items-center flex text-xs px-4 py-1 text-gray-700 hover:bg-gray-200 relative"
              (click)="showAllSources = !showAllSources"
            >
              {{ showAllSources ? 'Show fewer sources' : 'Show all sources' }}
            </button>
          }
        }

        @if (isStandardAnswer(currentAnswer)) {
          <div class="flex gap-x-1 items-center mb-2">
            @if (currentAnswer.metadata.verified_response === 'True') {
              <ng-icon class="text-green-500 text-base" name="lucideCheckCircle2" />
              <span class="text-xs">Verified Response</span>
            } @else {
              @if (
                currentAnswer['@system_name'] !== 'AnswerBank' &&
                !currentAnswer['@system_name'].includes('RAG')
              ) {
                <ng-icon class="text-red-500 text-base" name="lucideXCircle" />
                <span class="text-xs">Response Verification Failed</span>
              }
            }
          </div>
        }
      }
      <div *ngIf="gotAnswers == false">
        <p>I am fetching the answer for you. Please do not refresh this page.</p>
      </div>
    </div>
    <div class="flex flex-col gap-y-4">
      <div class="flex justify-between">
        <div class="text-xs text-gray-500">
          @if (isStandardAnswer(currentAnswer)) {
            Found {{ totalAnswers }} answers from {{ currentAnswer['@answer_type'] }}
          } @else {
            Found {{ totalAnswers }} answers from
            {{ currentAnswer.metadata.sources.source.length }} sources
          }
        </div>

        <div class="text-xs text-gray-500">
          Retrieved answer in {{ duration / 1000 | number: '1.0-3' }} seconds
        </div>
      </div>
      <div class="answer-footer" *ngIf="!isPrevDisabled || !isNextDisabled">
        <button
          class="justify-center bg-white items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100 text-xs gap-x-1 disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
          [disabled]="isPrevDisabled"
          (click)="prevAnswer()"
        >
          <ng-icon class="text-xs" name="lucideArrowLeft" />
          Previous
        </button>
        <button
          class="justify-center bg-white items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100 text-xs gap-x-1 disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
          [disabled]="isNextDisabled"
          (click)="nextAnswer()"
        >
          Next
          <ng-icon class="text-xs" name="lucideArrowRight" />
        </button>
      </div>
    </div>

    <!-- Selected Source -->
    @if (selectedSource) {
      <!-- Divider -->
      <div class="border-t border-gray-200 my-4"></div>

      <div class="mt-4 relative">
        <h1 class="text-lg font-medium mb-1">
          Previewing - {{ selectedSource['@title'] || 'No title' }}
        </h1>
        <div>{{ previewing_title }}</div>

        <button
          class="absolute top-2 right-2 text-gray-500"
          (click)="selectedSource = undefined"
          title="Close to return to results"
        >
          <ng-icon name="lucideXCircle" />
        </button>
        @if (previewUrl) {
          <iframe
            class="border border-gray-200 rounded-lg w-full h-[620px]"
            [src]="previewUrl"
          ></iframe>
        } @else {
          <div>Loading Preview...</div>
          <!-- Optional loading message -->
        }
      </div>
    }
  </div>
</div>
