<div class="answers" *ngIf="totalAnswers > 0">

    <div class="answer-content">
      <div *ngIf="currentAnswer">
        <strong>{{question}}</strong><br><br>
        <div class="answerhtml" [innerHTML]="currentAnswer.text"></div><br>
        <div class="answerparagraph" [innerHTML]="currentAnswer.metadata.paragraph"></div><br>
        <!--<span class="score">Score: {{currentAnswer.score}}</span><br>-->
        <a class="linkref" href="{{currentAnswer.source}}">{{currentAnswer.source}}</a>
      </div>
      <div *ngIf="gotAnswers == false">
        <p>I am fetching the answer for you. Please do not refresh this page.</p>
      </div>
    </div>
    <div class="answer-header">
      <span class="found-answers">Found {{totalAnswers}} answers from {{currentAnswer["@answer_type"]}}</span>
    </div>
    <div class="answer-footer" *ngIf="!isPrevDisabled || !isNextDisabled">
      <button class="btn btn-sm btn-outline-secondary" [disabled]="isPrevDisabled" (click)="prevAnswer()">
        &larr; Previous
      </button>
      <button class="btn btn-sm btn-outline-secondary" [disabled]="isNextDisabled" (click)="nextAnswer()">
        Next &rarr;
      </button>
    </div>

  </div>
  