<div
  class="fixed bottom-4 right-4 rounded-lg border-b border-gray-200 border shadow-md flex flex-col transition-all duration-300 ease-in-out bg-white z-50"
  [ngClass]="{
    'w-[512px]': !previewUrl,
    'w-[1600px]': !!previewUrl,
    'h-[800px]': !isMinimized
  }"
>
  <!-- Chat Header with Close Button -->
  <div class="flex flex-col">
    <div class="p-4 flex justify-between items-center">
      <h5 class="text-gray-900 text-xl font-semibold leading-7">Chat</h5>
      <div class="inline-flex gap-x-2">
        <!-- Minimize Button -->
        <button
          class="justify-center items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100"
          *ngIf="!isMinimized"
          (click)="minimizeChat()"
          title="Minimize"
        >
          <ng-icon name="lucideMinimize2" />
        </button>
        <!-- Maximize Button, shown only when minimized -->
        <button
          class="justify-center items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100"
          *ngIf="isMinimized"
          (click)="maximizeChat()"
          title="Maximize"
        >
          <ng-icon name="lucideMaximize2" />
        </button>
        <button
          class="justify-center items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100"
          (click)="toggleChatSettings()"
          title="Settings"
        >
          <ng-icon name="lucideSettings" />
        </button>
        <!-- Close Button -->
        <button
          class="justify-center items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100"
          (click)="closeChat.emit()"
        >
          <ng-icon name="lucideX" />
        </button>
      </div>
    </div>
    @if (showChatSettings) {
      <!-- Place your chat-settings component here -->
      <app-chat-settings
        *ngIf="showChatSettings"
        [sessionID]="this.sessionID"
        (closeChatSettings)="closeSettings()"
      />
    }
  </div>

  <!-- Content -->
  <div class="flex-1 flex overflow-auto" *ngIf="!isMinimized">
    <!-- Document Preview -->
    <div class="flex flex-col flex-1 mb-4 mx-4 gap-y-2" *ngIf="rawUrl">
      <div class="flex justify-between items-center gap-x-4">
        <p class="text-gray-700 text-sm font-medium leading-tight truncate">
          Previewing: <span class="text-gray-500 truncate">{{ rawUrl }}</span>
        </p>
        <button
          class="justify-center items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100"
          (click)="closePreview()"
        >
          <ng-icon name="lucideX" />
        </button>
      </div>
      <iframe class="border border-gray-200 rounded-lg flex-1" [src]="previewUrl"></iframe>
    </div>

    <div class="flex flex-col flex-1 flex-shrink-0 max-w-[583px]">
      <!-- Messages -->
      <div class="flex flex-col flex-1 overflow-auto">
        <!-- Chat Messages -->
        <div class="flex flex-col gap-y-4 px-4">
          <!-- Message -->
          <div
            class="flex flex-col max-w-[95%] w-full gap-y-1.5"
            #chatMessage
            *ngFor="let message of messages"
            [class.self-end]="message.fromUser"
          >
            <!-- Header -->
            <div class="flex justify-between items-center">
              <div class="text-gray-700 text-sm font-medium leading-tight">
                {{ message.username }}
              </div>

              <div class="flex gap-x-1">
                @if (message.fromUser) {
                  <button class="justify-center items-center flex shadow-sm px-0.5 py-0.5 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100 text-xs" (click)="replayMessage(message)">
                    <ng-icon name="lucideRefreshCw" />
                  </button>
                }
                <div class="text-gray-600 text-xs font-normal leading-5">
                  {{ message.timestamp }}
                </div>
              </div>
            </div>

            <!-- Message body -->
            <div
              class="px-3.5 py-2.5 rounded-lg border justify-start items-center gap-2 text-sm chat-message-content" style="word-break: break-word;"
              [ngClass]="{
                'bg-blue-500 border-blue-500 text-white': message.fromUser,
                'bg-gray-50 border-gray-200 text-gray-900': !message.fromUser
              }"
              [innerHTML]="message.text"
              (urlClicked)="showPreview($event)"
              appChatUrl
            ></div>
            <app-dynamic-valid-choices
              *ngIf="message.choices.length"
              [validChoices]="message.choices"
              (choiceSelected)="selectChoice($event)"
            />
          </div>
        </div>

        <!-- Loading Indicator -->
        @if (loading) {
          <div class="flex justify-center items-center">
            <app-loading-indicator />
          </div>
        }
      </div>

      <!-- Message Input Area -->
      <div class="flex p-4 gap-x-2">
        <input
          class="h-10 px-3.5 py-2.5 bg-white rounded-lg border border-gray-200 flex-1 text-sm outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          #messageInput
          [(ngModel)]="newMessage.text"
          (keyup.enter)="sendMessage()"
          type="text"
          placeholder="Type a message"
        />

        <button
          class="w-10 h-10 bg-blue-500 rounded-lg justify-center items-center text-white hover:bg-blue-600 text-lg flex disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none"
          [disabled]="!newMessage.text"
          (click)="sendMessage()"
          type="button"
        >
          <ng-icon name="lucideSend" />
        </button>
      </div>
    </div>
  </div>
</div>
