<div class="chat-container" [ngClass]="{'minimized':isMinimized}">
    <!-- Chat Header with Close Button -->
    <div class="chat-header">
        <h5>Chat</h5>
        <div class="btn-group controls-chat">
            <!-- Minimize Button -->
            <button class="control-btn" (click)="minimizeChat()" *ngIf="!isMinimized" title="Minimize">
                <i class="fas fa-window-minimize"></i>
            </button>
            <!-- Maximize Button, shown only when minimized -->
            <button class="control-btn" (click)="maximizeChat()" *ngIf="isMinimized" title="Maximize">
                <i class="fas fa-window-maximize"></i>
            </button>
            <!-- Close Button -->
            <button class="control-btn" (click)="onCloseButtonClick()" title="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    
    
    <div class="chat-messages">
        
        <div *ngFor="let message of messages" 
            #chatMessage
            class="chat-message"
             [ngClass]="{'user-message': message.fromUser, 'bot-message': !message.fromUser}">
            <div class="message-info">
                <span class="username"><strong>{{message.username}}</strong></span><span class="timestamp" style="font-size: small;">{{message.timestamp }}</span>
            </div>
            <div class="message-text" [innerHTML]="message.text">
                
            </div>
            <app-dynamic-valid-choices *ngIf="message.choices.length" [validChoices]="message.choices" (choiceSelected)="selectChoice($event)"></app-dynamic-valid-choices>
        </div>
    </div>
    
    
    
    <!-- Message Input Area -->
    <div class="input-area">
        <input type="text" class="form-control" [(ngModel)]="newMessage.text" (keyup.enter)="sendMessage()" placeholder="Type a message">

        <button type="button" class="btn send" (click)="sendMessage()">Send</button>
    </div>
</div>
