.chat-container {
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
    width: 500px; /* Width of the chat window, adjust as needed */
    max-height: 600px; /* Maximum height of the chat window, adjust as needed */
    border: 1px solid #ccc; /* Optional: border around the chat window */
    border-top-left-radius: 10px; /* Optional: rounded corners */
    border-top-right-radius: 10px; /* Optional: rounded corners */
    z-index: 1000; /* Ensures the chat window stays above other content */
    background-color: white; /* Background color for the chat window */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Optional: shadow for aesthetics */
    margin-right: 10px;
    margin-bottom: 10px;
    height: 600px;
    padding: 0px 10px 0 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    transition: width 0.5s ease-in-out;
  }

  .chat-container.show-preview {
    width: 1200px;
  }

  .chat-container.show-preview .document-preview {
    opacity: 1;
    width: 800px;
  }

  
  .chat-container.minimized {
    height: 40px; /* Adjust based on your header height */
    overflow: hidden;
    /* Additional styles for minimized state */
  }
  
  /* Hide content when minimized */
  .chat-container.minimized .chat-content {
    display: none;
  }
  
  .chat-header {
    /* ... existing styles ... */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;

    h5 {
      margin: 0;
    }
  }
  .btn-group {
    display: flex;
    justify-content: flex-end;
}

.controls-chat{
  /* padding-bottom: 10px; */
}
.control-btn, .close-btn {
    margin: 0 2px; /* Provides spacing between buttons */
    border: none;
    background: transparent;
    cursor: pointer;
}
  .close-btn {
    background: none;
    border: none;
    font-size: 1.2rem; /* Adjust size as needed */
    cursor: pointer;
  }
  
  /* Adjust styles for the chat-container, chat-messages, etc., as needed */
.chat-messages {
    /* ... other styles ... */
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Stack the messages on top of each other */
    width: auto;
    flex: 1;
}

::ng-deep .responded-time {
  font-size: 12px;
  font-style: italic;
}

.chat-message {
  width: fit-content;
  min-width: 300px;
}

  .input-area {
    display: flex; /* Aligns children inline */
    align-items: center; /* Centers children vertically */
    margin-top: 10px;
    margin-bottom:  10px;
    margin-left:  0px;
    margin-right:  10px; /* Optional: Adjust margin as needed */
  }
  
  .input-area .form-control {
    height: 30px; /* Example height, adjust based on your button's actual height */
    padding: 6px 12px; /* Adjust padding to match, if necessary */
    font-size: 14px; /* Ensure font size is consistent */
    flex-grow: 1; /* Allows input to fill available space */
    margin-right: 10px; /* Spacing between input and button */
  }
  
  .input-area .btn {
    white-space: nowrap; /* Prevents text wrapping in the button */
    padding: 5px 10px; /* Smaller padding */
    font-size: 12px; /* Smaller font size */
  }
  .bot-message {
    background-color: rgb(236, 236, 236);
    color: black;
    text-align: left;
    font-size: small;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
    /* width: auto; */
  }
  
  .user-message {
    color: black;
    text-align: left;
    font-size: small;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
    align-self: flex-end;
    /* Gradient background from a lighter neon green to a deeper neon green */
    background: rgb(224, 255, 224); /* Adjust colors as needed */
  }
  
  .responsetime{
    font-size: smaller;
    color: rgba(128, 128, 128, 0.601);
    font-style: italic;
  }
  .bot-message, .user-message {
    display: inline-block; /* Ensures messages appear one below the other */
    /* Other styles remain the same */
    float: none; /* Removes any floating, ensuring normal document flow */
    flex-direction: row;
    /* min-width: 200px; */
    /* width: auto; */
  }
  
  .message-info .username {
    font-weight: bold;
  }
  
  .message-info {
    font-size: small;
    display: block; /* Ensures it appears on a new line */
  }
  .timestamp {
    font-size: small;
    align-items: end;
    float: right;
  }
  .message-text {
    font-weight: normal;
  }
  .message {
    max-width: 80%; /* Adjusts the maximum width to not fill the entire chat UI */
    min-width: 20%; /* Ensures messages are at least a certain width */
    margin: 4px auto; /* Centers messages within the chat UI */
  }
  .send{
    background-color: blue;
    color: white;
    border-color: blue;
    border-width: 0px;
  }

  .chat-contents {
    display: flex;
    column-gap: 8px;
    height: 100%;
    overflow: auto;
  }

  .document-preview {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    height: 100%;
    opacity: 0;
    width: 0;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
  }

  .document-preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
  }
  
  .document-preview-title {
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .document-preview-iframe {
    flex: 1;
  }

  .document-preview-close {
    flex: none;
  }