<!-- Settings Menu -->
<div class="w-96 py-4 px-6 border bg-gray-50 shadow-md rounded-lg flex flex-col gap-y-3 relative">

  <!-- Close Button -->
  <button
    class="justify-center items-center flex shadow-sm p-2 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100 top-2 right-2 absolute"
    (click)="close.emit()"
  >
  <ng-icon name="lucideX" />
</button>

  <h3 class="font-semibold">Settings</h3>
  
  <h4 class="text-sm font-medium">Search Comparison</h4>

    <div class="flex items-center gap-x-3">
      <button
        class="justify-center items-center flex shadow-sm p-2 border rounded-lg"
        [ngClass]="{
          'border-gray-200 text-gray-700 bg-white hover:bg-gray-100': !(showVectorSearchResults$ | async),
          'border-blue-200 text-blue-500 bg-blue-100': showVectorSearchResults$ | async
        }"
        (click)="toggleVectorSearchResultsPosition()"
      >
        <ng-icon name="lucideAlignLeft" />
      </button>
      <span class="text-sm">Show IDOL Vector Search Results on the left</span>
    </div>

    <div class="flex items-center gap-x-3">
      <button
        class="justify-center items-center flex shadow-sm p-2 border rounded-lg"
        [ngClass]="{
          'border-gray-200 text-gray-700 bg-white hover:bg-gray-100': !(showIdolSearchResults$ | async),
          'border-blue-200 text-blue-500 bg-blue-100': showIdolSearchResults$ | async
        }"
        (click)="toggleIdolSearchResultsPosition()"
      >
        <ng-icon name="lucideAlignRight" />
      </button>
      <span class="text-sm">Show IDOL Search Results on the right</span>
    </div>
  
    <hr class="border-b">

    <div class="flex flex-col gap-y-1">
      <h4 class="text-sm font-medium">Answer System</h4>
        <p class="text-xs text-gray-700 mb-2">Choose an Answer Server from the list to process queries entered in the search bar.</p>

        <select
        class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg outline-none focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5 py-2"
        [(ngModel)]="selectedAnswerSystem"
        (ngModelChange)="onSystemChange($event)"
        name="selectedAnswerSystem">
        @for (system of answerSystems; track system.name) {
          <option [value]="system.name">{{ system.name }}</option>
        }
      </select>
    </div>
  

    <div class="flex flex-col gap-y-1">
      <h4 class="text-sm font-medium">Query Manipulation System</h4>
        <p class="text-xs text-gray-700 mb-2">Select the typeahead behavior from the following options:</p>

        <select
        class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg outline-none focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5 py-2"
        [(ngModel)]="selectedQms"
        (ngModelChange)="onBehaviorChange($event)"
        name="selectedQms">
        @for (system of querySystems; track system) {
          <option [value]="system">{{ system }}</option>
        }
      </select>
    </div>

</div>
