<div class="flex border-b border-gray-200 h-16">
  <div class="mx-auto h-full items-center flex w-full px-6 justify-between">
    <div class="flex items-center gap-x-4">
      <img class="h-5" src="/assets/logo.svg" alt="Logo" />
      <h1 class="text-gray-700 pb-0.5 text-xl font-semibold leading-normal">Idol</h1>
    </div>

    <div class="flex gap-x-2">
      <!-- Search -->
      <div
        class="flex-none w-[800px] focus-within:ring-primary focus-within:hover:ring-primary hidden cursor-text items-center rounded-md bg-white py-1.5 pl-3 pr-3 text-sm leading-6 shadow-sm ring-1 ring-gray-400/20 hover:ring-gray-600/25 lg:flex"
        (click)="searchInput.focus()"
      >
        <input
          class="flex-1 outline-none placeholder:text-gray-400"
          #searchInput
          (keydown.enter)="propogateSearchTerm(searchInput.value); $event.preventDefault()"
          type="text"
          placeholder="Search..."
        />
      </div>

      <!-- Actions -->
      <div class="flex flex-none gap-x-2">
        <button
          class="justify-center items-center flex shadow-sm p-3 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100"
          (click)="propogateSearchTerm(searchInput.value)"
          type="button"
        >
          <ng-icon name="lucideSearch" />
        </button>

        <button
          class="justify-center items-center flex shadow-sm p-3 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100 relative"
          #databaseTrigger="cdkOverlayOrigin"
          (click)="showDropdown = !showDropdown"
          type="button"
          cdkOverlayOrigin
        >
          <ng-icon name="lucideDatabase" />

          @if (databaseCount$ | async; as count) {
            <span
              class="absolute -bottom-1 -right-1 rounded-full border border-blue-300 bg-blue-100 w-4 h-4 font-semibold text-blue-500 text-[10px] flex justify-center items-center"
            >
              {{ count }}
            </span>
          }
        </button>
      </div>
    </div>

    <button
      class="justify-center items-center flex shadow-sm p-3 border border-gray-200 rounded-lg text-gray-700 hover:bg-gray-100"
      #settingsTrigger="cdkOverlayOrigin"
      (click)="showSettingsDialog = !showSettingsDialog"
      type="button"
      cdkOverlayOrigin
    >
      <ng-icon name="lucideSettings" />
    </button>
  </div>

  <!-- Database Popover -->
  <ng-template
    [cdkConnectedOverlayOrigin]="databaseTrigger"
    [cdkConnectedOverlayOpen]="showDropdown"
    [cdkConnectedOverlayOffsetY]="8"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="showDropdown = false"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    cdkConnectedOverlay
  >
    <div class="w-80 py-4 border bg-white shadow-md rounded-lg flex flex-col" *ngIf="showDropdown">
      <h3 class="font-medium px-6 mb-3">Select Databases</h3>

      <div class="flex flex-col gap-y-1">
        <button
          class="cursor-pointer border rounded-lg px-4 py-2 mx-2 text-sm capitalize flex justify-between items-center"
          *ngFor="let option of dropdownOptions"
          [ngClass]="{
            'border-transparent hover:bg-gray-100': !selectedOptions.includes(option),
            'bg-blue-50 border-blue-100 font-medium hover:bg-blue-100':
              selectedOptions.includes(option)
          }"
          (click)="toggleSelection(option)"
        >
          {{ option }}
          <ng-icon
            class="text-lg text-blue-500"
            *ngIf="selectedOptions.includes(option)"
            name="lucideCheck"
          />
        </button>
      </div>
    </div>
  </ng-template>

  <!-- Settings Popover -->
  <ng-template
    [cdkConnectedOverlayOrigin]="settingsTrigger"
    [cdkConnectedOverlayOpen]="showSettingsDialog"
    [cdkConnectedOverlayOffsetY]="8"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="showSettingsDialog = false"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    cdkConnectedOverlay
  >
    <!-- Settings Menu -->
    <app-settings-dialog />
  </ng-template>
</div>
